@charset "UTF-8";
@import "less/bootstrap.less";
@import "owl.carousel.css";
@import "slick.css";

@font-face {font-family: 'AvenirLTStd-Book';src: url('fonts/29BE2C_0_0.eot');src: url('fonts/29BE2C_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/29BE2C_0_0.woff') format('woff'),url('fonts/29BE2C_0_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-MediumOblique';src: url('fonts/29BE2C_1_0.eot');src: url('fonts/29BE2C_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/29BE2C_1_0.woff') format('woff'),url('fonts/29BE2C_1_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-Black';src: url('fonts/29BE2C_2_0.eot');src: url('fonts/29BE2C_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/29BE2C_2_0.woff') format('woff'),url('fonts/29BE2C_2_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-BookOblique';src: url('fonts/29BE2C_3_0.eot');src: url('fonts/29BE2C_3_0.eot?#iefix') format('embedded-opentype'),url('fonts/29BE2C_3_0.woff') format('woff'),url('fonts/29BE2C_3_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-BlackOblique';src: url('fonts/29BE2C_4_0.eot');src: url('fonts/29BE2C_4_0.eot?#iefix') format('embedded-opentype'),url('fonts/29BE2C_4_0.woff') format('woff'),url('fonts/29BE2C_4_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-Medium';src: url('fonts/29BE2C_5_0.eot');src: url('fonts/29BE2C_5_0.eot?#iefix') format('embedded-opentype'),url('fonts/29BE2C_5_0.woff') format('woff'),url('fonts/29BE2C_5_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-Light';src: url('fonts/29BE2C_6_0.eot');src: url('fonts/29BE2C_6_0.eot?#iefix') format('embedded-opentype'),url('fonts/29BE2C_6_0.woff') format('woff'),url('fonts/29BE2C_6_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-Oblique';src: url('fonts/29BE2C_7_0.eot');src: url('fonts/29BE2C_7_0.eot?#iefix') format('embedded-opentype'),url('fonts/29BE2C_7_0.woff') format('woff'),url('fonts/29BE2C_7_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-Roman';src: url('fonts/29BE2C_8_0.eot');src: url('fonts/29BE2C_8_0.eot?#iefix') format('embedded-opentype'),url('fonts/29BE2C_8_0.woff') format('woff'),url('fonts/29BE2C_8_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-HeavyOblique';src: url('fonts/29BE2C_9_0.eot');src: url('fonts/29BE2C_9_0.eot?#iefix') format('embedded-opentype'),url('fonts/29BE2C_9_0.woff') format('woff'),url('fonts/29BE2C_9_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-LightOblique';src: url('fonts/29BE2C_A_0.eot');src: url('fonts/29BE2C_A_0.eot?#iefix') format('embedded-opentype'),url('fonts/29BE2C_A_0.woff') format('woff'),url('fonts/29BE2C_A_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-Heavy';src: url('fonts/29BE2C_B_0.eot');src: url('fonts/29BE2C_B_0.eot?#iefix') format('embedded-opentype'),url('fonts/29BE2C_B_0.woff') format('woff'),url('fonts/29BE2C_B_0.ttf') format('truetype');}

@menu_back: #a9a8ab;
@dark_grey: #56565a;
@orange: #f07836;

html, body{
  height:100%;
  overflow-x: hidden;
  color:@dark_grey;
}
.modal-backdrop.in{
  opacity: 0.2 !important;
}
.modal-content {
  border-radius: 18px !important;
}
/***************PARA CENTRAR LOS CUADROS MODALES***********************/
.modal-dialog-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}
.modal-content{
  float: left;
  width: 100%;
}
.modal-body{
  float: left;
}
.modal-footer{
  float: left;
  width: 100%;
}
@media (max-width: 767px) {
  .modal-dialog-center {
    width: 100%;
  }
}
a{
  text-decoration: none !important;
}
.all-content{
  position: fixed;
  display: none !important;
  width: 100%;
  height: 456px;
  background: white;
  top: 0;
  left: 0;
  z-index: 999;
}
.logo{
  left: 10px;
  position: absolute;
  top: 18px;
  width: 125px;
  z-index: 99;
}
.logo_landing{
  position: absolute;
  top: 18px;
  right: 36px;
  z-index: 99;
}
.close-project{
  position: absolute;
  top: 18px;
  right: 36px;
  z-index: 99;
  width: 42px;
}
#close-responsive{
  width: auto;
  top: 0;
  right: 0;
}
/*LANDING*/
.slides{
  z-index: -99;
}
.slides-pagination {
  text-align: right !important;
  padding-right: 18px;
  padding-bottom: 18px;
  z-index: 999 !important;
  a{
    border: 2px solid #AAA8AA !important;
    width: 15px !important;
    height: 15px !important;
  }
  a.current {
    background: #AAA8AA !important;
  }
}
.slides-navigation{
  z-index: 999 !important;
  .prev{
    margin-left: 20px;
    display: block !important;
    &.hide_{
      display: none !important;
    }
  }
  .prev:hover{
    opacity: 1 !important;
  }
  .next{
    margin-right: 20px;
  }
  .next:hover{
    opacity: 1 !important;
  }
}
.slider-content{
  position: relative;
  width: 100%;
  height: auto;
  float: left;

  .more{
    bottom: 10px;
    float: left;
    height: 28px;
    padding-top: 5px;
    position: absolute;
    width: auto;
    z-index: 999;
    &.hide_{
      display: none !important;
    }
    .more-btn{
      float: left;
      width: auto;
      height: auto;
      display: block;
      cursor: pointer;
      img{
        margin-left: 20px;
        padding-top: 2px;
        display: block;
        float: left;
      }
      span{
        color: white;
        font-size: 14px;
        font-family: AvenirLTStd-Medium;
        float: left;
        margin-left: 15px;
        line-height: normal;
      }
    }
  }
}
.carousel{
  float: left;
}
.carousel .item{
  margin: 3px;
}
.carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}


#owl-carousel{
  float: left;
}
#owl-carousel .item{
  float: left;
  display: inline-block;
  margin: 0;
  width: 100%;
}
#owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}

.owl-prev {
  float: left;
  height: 36px;
  width: 56px;
  /*display: table-cell !important;
  vertical-align: middle;*/
  position: absolute;
  bottom: 40%;
  left: 10px;
  background: transparent url(../../_img/related_prev.png) no-repeat center !important;
}
.owl-next {
  height: 36px;
  width: 56px;
  /*display: table-cell !important;
  vertical-align: middle;*/
  float: right;
  position: absolute;
  bottom: 40%;
  right: 10px;
  background: transparent url(../../_img/related_next.png) no-repeat center !important;
}
.owl-wrapper-outer{
  //z-index: 99;
}

.owl-controls{
  margin: 0 !important;
 /* width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;*/
}
.owl-buttons{
  /*display: table;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;*/
}
.owl-content{
  .item{
    .item-title{
      background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
      color: #fff;
      display: none;
      font-family: AvenirLTStd-Book;
      font-size: 18px;
      height:60px;
      left: 0;
      line-height: normal;
      padding: 10px;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  .item-thumbnail:hover{
    .item-title{
      display: block;
    }
  }
  .featured{
    position: absolute;
    color: white;
    top: 5px;
    right: 8px;
    font-size: 27px;
  }
}
.pointer{
  cursor: pointer;
}
.menu_container{
  height:100%;
  position: fixed;
  //width: 40px;
  width: 150px;
  z-index: 99;
  .menu{
    background: @menu_back;
    height:100%;
    max-width: 150px;
    width:100%;
    ul.menu {
      float: left;
      height: 150px;
      list-style: outside none none;
      margin: -60px 0 0;
      padding: 0;
      position: absolute;
      top: 195px;
      width: 100%;
      li{
        float:left;
        text-align: center;
        padding-bottom: 25px;
        width: 100%;
        .title{
          color: #fff;
          cursor: pointer;
          float:left;
          font-family: AvenirLTStd-Medium;
          font-size: 18px;
          margin-left: 12px;
          text-align: left;
          width: auto;
          line-height: 21px; 
        }
        img{
          display: block;
          height: 23px;
          margin: 0 auto;
          width: 23px;
        }
        ul {
          display: none;
          float: left;
          list-style: outside none none;
          margin: 5px 0 0 10px;
          padding: 0;
          width: 100%;
          &.submenu{
            li{
              a{
                &:hover{
                  font-family: AvenirLTStd-Black;
                }
              }
            }
          }
          li {
            float: left;
            height: 20px;
            margin-bottom: 0px;
            width: 100%;
            a {
              color: #fff;
              float: left;
              font-family: AvenirLTStd-Book;
              font-size: 13px;
              padding-left: 10px;
            }
            &.active{
              a{
                font-family: AvenirLTStd-Black;
              }
            }
            ul {
              background: url("../../_img/left_arrow.png") no-repeat top left;
              display: none;
              left: 71px;
              padding-left:10px;
              position: relative;
              top: -23px;
              width: 100px;
              li:first-child{
                a{
                  padding-top: 3px !important;
                }
              }
              li {
                float: left;
                height: auto;
                margin-bottom: 0;
                width: 100%;
                margin-top: -5px;

                a {
                  font-family: AvenirLTStd-Roman;
                  color:@dark_grey;
                  float: left;
                  margin-left: 10px;
                  padding: 10px 0 10px 10px;
                  text-align: left;
                  width: 100%;
                  background: white;
                  &:hover,&.active{
                    background: @dark_grey;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }

      li:hover > ul{
        //display:block !important;
      }

      >li.active > ul{
        display:block !important;
      }
    }
    .footer {
      bottom: 20px;
      left: 0;
      position: absolute;
      width: 100%;
      .title {
        color: #fff;
        float: left;
        font-family: AvenirLTStd-Medium;
        font-size: 12px;
        padding-left: 10px;
        width: 100%;
      }
      .social {
        list-style: outside none none;
        margin-left: 17px;
        padding: 0;
        width: 25px;
        li {
          float: left;
          height: auto;
          margin-top: 6px;
          width: 100%;
          a{
            width: 100%;
            height: 100%;
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

//Content
.container-fluid{
  margin: 0;
  padding-left: 160px;
  padding-right: 100px;
}
.wrap{
  position: absolute;
  width: 100%;
  height: 100%;

}
.content {
  //background: url("../../_img/logo2.png") no-repeat 98% 2%;
  height: 100%;
  width: 100%;
  //max-width: 1224px;
  //padding-left:140px;
  padding-top:55px;
  //padding-right:60px;
  margin: 0 auto;

  h1{
    font-family: AvenirLTStd-Heavy;
    font-size: 30px;
    margin-bottom: 45px;
    margin-top: -1px;
    margin-left:15px;
    text-transform: uppercase;
  }
  h2{
    font-family:AvenirLTStd-Heavy;
    font-size: 18px;
    text-transform: uppercase;
  }

  .projects-title{
    font-family:AvenirLTStd-Medium;
    text-transform: uppercase;
  }
  .people-title{
    font-family:AvenirLTStd-Medium;
    text-transform: uppercase;
  }
  .list {
    float:left;
    margin-bottom: 45px;
    width:100%;
    .item {
      float:left;
      padding: 0;
      width: 100%;
      a {
        float: left;
        height: auto;
        width: 100%;
        .image {
          float: left;
          height: auto;
          width: 100%;
          img{
            width: 100%;
            max-width:100%;
          }
        }
        .name {
          background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
          color: #fff;
          display: none;
          font-family: AvenirLTStd-Book;
          font-size: 16px;
          height: 70px;
          left: 0;
          padding: 15px;
          position: absolute;
          top: 0;
          width: 100%;
          &.full{
            height:100%;
            .more {
              bottom: 10px;
              position: absolute;
              right: 10px;
            }
          }
        }
      }
    }
    .item:hover{
      a{
        .image{
        }
        .name{
          display: block;
        }
      }
    }
    .owl-prev{
      /* float: left; */
      height: 20px;
      width: 20px;
      /* position: absolute; */
      bottom: 50%;
      left: -45px;
      background: transparent url(../../_img/prev.png) no-repeat 0 0!important;
      opacity: 0.8 !important;
    }
    .owl-next{
      height: 20px;
      width: 20px;
      /* float: right; */
      /* position: absolute; */
      bottom: 50%;
      right: -25px;
      background: transparent url(../../_img/next.png) no-repeat 0 0!important;
      opacity: 0.8 !important;
    }
    .owl-prev:hover{
      opacity: 1  !important;
    }
    .owl-next:hover{
      opacity: 1 !important;
    }
    .slick-prev {
      background: url("../../_img/prev.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
      cursor: pointer;
      height: 15px;
      left: -22px;
      position: absolute;
      top: 30%;
      width:15px;
    }
    .slick-next {
      background: url("../../_img/next.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
      cursor: pointer;
      height: 15px;
      right: -25px;
      position: absolute;
      top: 30%;
      width:15px;
    }
  }
  .categories{
    float: left;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    li{
      list-style-type: none;
      float:left;
      margin-right: 10px;
      a{
        font-family: AvenirLTStd-Roman;
        font-size: 14px;
        line-height: normal;
        color:#55565A;
        text-transform: uppercase;
      }
    }
    li.active{
      a{
        font-family: AvenirLTStd-Heavy;
      }
    }
  }
}
.fullscreen-header{
  float: left;
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 40px;
}
/***STAFF***/
.staff_list {
  float: left;
  list-style: outside none none;
  ul {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      float: left;
      margin-right: 15px;
      width: 160px;
      a {
        float: left;
        width: 100%;
        .image {
          float: left;
          height: 200px;
          width: 160px;
        }
        .name,.title {
          color: @dark_grey;
          float: left;
          font-family: AvenirLTStd-Roman;
          font-size: 12px;
          margin-top: 2px;
          width: 100%;
        }
      }
    }
  }
}
/***STAFF Detail***/
h1.peep{
  font-family: AvenirLTStd-Heavy;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: -1px;
  text-transform: uppercase;
}
h5.peep {
  font-family: AvenirLTStd-Roman;
  font-size: 18px;
  margin-bottom: 42px;
  margin-left:15px;
  margin-top: 0;
}
.peep-navigation{
  position: absolute;
  top: 18px;
  right: 18px;
  width: 175px;
  height: 20px;

  span{
    font-size: 14px;
    font-family: AvenirLTStd-Roman;
    float: left;
    margin-right: 10px;
    padding-top: 2px;
  }
  .peep-controls{
    width: 35px;
    float: left;
    a.peep-prev{
      float: left;
    }
    a.peep-next{
      float: right;
    }
  }
}
.peep-container{
  float: left;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 40px;
  height: auto;
}
.left_column{
  .make-lg-column(6);
  .make-md-column(6);
  .make-sm-column(6);
  padding-left:30px;
  padding-bottom:75px;
  .slimScrollDiv {
    margin-left: -20px;
    .description {
      float: left;
      font-size: 16px;
      height: 370px;
      overflow: hidden;
      padding-left: 20px;
      width: 95%;
    }
  }
  .awards {
    float: left;
    margin-top: 15px;
    width: 100%;
    h5 {
      float: left;
      font-family: AvenirLTStd-Roman;
      font-size: 18px;
      margin-bottom: 10px;
      width: 100%;
    }
    .name {
      float: left;
      font-family: AvenirLTStd-Book;
      font-size: 15px;
      line-height: normal;
      width: 100%;
    }
    .award_popup,.press_popup {
      color:@dark_grey;
      float: left;
      font-family: AvenirLTStd-Heavy;
      font-size: 12px;
      width: 100%;
      margin-bottom: 5px;
    }
  }
  .contact_info {
    float: left;
    margin-top: 15px;
    width: 100%;
    h5 {
      float: left;
      font-family: AvenirLTStd-Roman;
      font-size: 18px;
      margin-bottom: 0;
      width: 100%;
    }
    .phone {
      float: left;
      font-family: AvenirLTStd-Book;
      font-size: 15px;
      line-height: normal;
      width: 100%;
    }
    .email {
      color: @orange;
      float: left;
      font-family: AvenirLTStd-Medium;
      font-size: 12px;
      width: 100%;
    }
  }
}
.right_column{
  .make-lg-column(6);
  .make-md-column(6);
  .make-sm-column(6);
  position:relative;
  img{
    float: right;
    max-width: 100%;
  }
}
.bubble {
  background: url("../../_img/bubble.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #fff;
  display: none;
  font-family: AvenirLTStd-Roman;
  font-size: 12px;
  left: -15%;
  line-height: normal;
  padding: 15px 23px 15px 15px;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 255px;
}
.projects{
  float: left;
  position: relative;
  width: 100%;
  margin-top: 15px;
  .owl-content{
    bottom: auto !important;
  }
  .peep-container{
    bottom: 0;
    left: 25px;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1000;
  }
  .more{
    font-family: AvenirLTStd-Roman;
    font-size: 14px;
    color:#fff;
    margin-bottom: 20px;
  }
  h2{
    font-family: AvenirLTStd-Roman;
    font-size: 14px;
    color:@dark_grey;
    .make-lg-column(12);
  }
  .proj{
    .make-lg-column(3);
    .make-md-column(3);
    .make-sm-column(3);
    overflow: hidden;
    position:relative;
    img{
      max-width:100%;
    }
    a{
      float: left;
      width: 100%;
      height: auto;
      position: relative;
    }
    .name {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
      color: #fff;
      display: none;
      font-family: AvenirLTStd-Book;
      font-size: 16px;
      height: auto;
      left: 0;
      padding: 15px;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
.project_{
  .modal-dialog{
    max-width: 524px;
  }
  .modal-body{
    padding:0;
    width: 100%;
    .modal-img {
      float: left;
      overflow: hidden;
      position:relative;
      width: 100%;
      img {
        width: 100%;
        max-width: 100%;
      }
      .close_ {
        cursor:pointer;
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
  }
  .modal-footer{
    .s_container {
      margin-top: 15px;
      .desc_container {
        padding-left: 10px;
        .modal-title {
          float: left;
          font-family: AvenirLTStd-Medium;
          font-size: 16px;
          text-align: left;
          width: 100%;
        }
        .modal-text {
          float: left;
          font-family: AvenirLTStd-Book;
          font-size: 14px;
          text-align: left;
          width: 100%;
        }
      }
    }
  }
}
.awards_container {
  height: 230px;
  position: relative;
  margin-left:-5px;
  width: 100%;
  .close_ {
    float: right;
    margin-right: -5px;
  }
  .aw_cont {
    margin-top: 15px;
    .aw {
      float: left;
      margin-bottom: 15px;
      padding-left:10px;
      width: 100%;
      .title {
        color: @dark_grey;
        float: left;
        font-family: AvenirLTStd-Medium;
        font-size: 16px;
        width: 100%;
      }
      .text {
        float: left;
        font-family: AvenirLTStd-Book;
        font-size: 16px;
        width: 100%;
      }
    }
  }
}

/**PROJECT PAGE */
.project{
  position: absolute;
  z-index: 99;
  background: rgba(0, 0, 0, .7);
  color: white;
  padding: 30px;
  top: 0;
  width: 100%;
  max-width: 423px;
  transition: height 0.25s ease-in;
  z-index: 3  ;
  overflow-y: auto;
  .project-name{
    float: left;
    width: 100%;
    height: auto;
    font-size: 18px;
    font-family: AvenirLTStd-Heavy;
    line-height: normal;
    position: relative;
    .project-more{
      float: right;
      width: 10px;
      height: auto;
      display: block;
      padding-left: 10px;
      position: relative;
      img{
        margin-bottom: 5px;
      }
      img:hover{
        cursor:pointer;
      }
    }
  }
  .project-info{
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-bottom: 100px;
    font-size: 14px;
    line-height: normal;
    font-family: AvenirLTStd-Book;
    .project-text{
      margin-bottom: 20px;
    }
    .project-detail{
      margin-top: 10px;
      a{
        display: block;
        color: white;
      }
      a:hover{
        color: white;
      }
      span{
        display: block;
      }
    }
  }
}
.fullscreen{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0;
  padding-left:150px;
  .owl-content {
    bottom: 0px;
    position: relative;
    z-index: 999;
  }
  .more_peep{
    background:#fff;
    width: 100%;
    float: left;
    bottom: 0px;
    .more-btn{
      float: left;
      width: auto;
      height: auto;
      display: block;
      cursor: pointer;
      img{
        margin-left: 20px;
        padding-top: 2px;
        display: block;
        float: left;
      }
      span{
        color: #333;
        font-size: 14px;
        font-family: AvenirLTStd-Medium;
        float: left;
        margin-left: 15px;
        line-height: normal;
      }
    }
  }
}
/******** FIRM **************/

.our-firm {
  float: left;
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 50px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left:15px;
  .image{
    float: right;
    width: 47%;
  }
  .text{
    color: #56565a;
    float: left;
    font-family: AvenirLTStd-Book;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 0;
    width: 50%;
  }
  .address {
    float: left;
    width: 25%;
  }
  .map {
    float: left;
    width: 75%;
  }
}



/********************* RESPONSIVE **************************/
//MENU
@bgDefault      : #56565a;
@bgHighlight    : #cbc8c7;
@colDefault     : #ecf0f1;
@colHighlight   : #ffffff;
@dropDown       : false;
.ddm() when (@dropDown) {
  > .dropdown-menu {
    background-color: @bgDefault;
    > li > a {
      color: @colDefault;
      &:hover,  &:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}
    .divider {
      background-color: @bgHighlight;}}}
.navbar-default {
  background-color: @bgDefault;
  border-color: @bgHighlight;
  .navbar-brand {
    color: @colDefault;
    &:hover, &:focus {
      color: @colHighlight; }}
  .navbar-text {
    color: @colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: @colDefault;
        &:hover,  &:focus {
          color: @colHighlight; }}
      .ddm }
    > .active {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}}
  .navbar-toggle {
    border-color: @bgHighlight;
    &:hover, &:focus {
      background-color: @bgHighlight; }
    .icon-bar {
      background-color: @colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: @colDefault; }
  .navbar-link {
    color: @colDefault;
    &:hover {
      color: @colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: @colDefault;
      &:hover, &:focus {
        color: @colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}}
}

.navbar{
  margin: 0;
  .navbar-nav{
    margin: 0 -15px;
    border-top: 1px solid white;
    .open {
      .dropdown-menu>li>a{
        padding-left: 37px;
      }
    }
  }
  .nav>li{
    border-bottom: 1px solid white;
    a{
      img{
        margin-right: 5px;
      }
    }
  }
  .navbar-collapse{
    background: #A9A8A9;
  }
  .navbar-toggle{
    float: left;
    margin-left: 15px;
    border: none;
  }
  .navbar-toggle:hover, .navbar-toggle:focus{
    background: none;
  }
  .navbar-brand{
    float: right;
  }
}



@media (min-width: @screen-lg-min) {
  .content{
    //padding-right: 25%;
  }
}
@media (max-width: @screen-sm-min) {
  .right_column{
    img{
      float: left;
      margin-bottom: 100px;
    }
  }

}



//Phone
@media (max-width: 735px) {
  .menu_container{
    display: none;
  }

  #close-desktop{
    display: none !important;
  }
  #close-responsive{
    display: block !important;
  }
  .container-fluid{
    padding-left: 60px;
    padding-right: 60px;
  }
  .content{
    //padding-left: 30px !important;
    background: none;
  }
  .fullscreen{
      padding-left: 0;
  }
  .project{
    max-width: none;
    margin-top: 60px;
  }

  .slides-pagination{
    bottom: 50px;
  }
  .logo{
    display: none;
  }
  .project-name{
    padding-right: 30px;
    span{
      display: block;

    }
  }
  .project-more{
    float: left !important;
  }
  .item-title{
    font-size: 14px !important;
  }
  .peep-container{
    margin-top: 60px !important;
  }
  .project-title{
    margin-top: 60px !important;
  }
  .firm-fullscreen{
    margin-top: 60px !important;
    h1{
      left: 25px !important;
    }
  }
}

@media (min-width: 735px) {
  .navbar{
    display: none;
  }
  #close-desktop{
    display: block !important;
  }
  #close-responsive{
    display: none;
  }
}
.modal-content  {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

ul.clients {
  float: left;
  list-style: outside none none;
  margin: -25px 0 0 0;
  padding: 0;
  width: 100%;
  li {
    float: left;
    margin-bottom: 15px;
    width: 50%;
    &.long{
      float:left;
      margin-top:20px;
      width:100%;
      h4{
        margin:0px;
      }
    }
    .name {
      float: left;
      font-size: 12px;
      margin-bottom: 5px;
      width: 100%;
      &.has_more{
        cursor: pointer;
        font-family:AvenirLTStd-Heavy;
      }
    }
    a {
      color: @orange;
      float: left;
      font-size: 12px;
      margin-bottom: 5px;
      text-decoration: none;
      width: 100%;
    }
    .project_list{
      display:none;
      float:left;
      width:100%;
    }
  }
}
ul.careers {
  float: left;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  width: 100%;
  li {
    float: left;
    margin-bottom: 25px;
    width: 100%;
    .position {
      float: left;
      font-size: 16px;
      margin-bottom: 5px;
      width: 100%;
    }
    .description {
      float: left;
      font-size: 16px;
      margin-bottom: 10px;
      width: 100%;
    }
    a {
      color: @orange;
      float: left;
      font-size: 12px;
      margin-bottom: 5px;
      text-decoration: none;
      width: 100%;
    }
  }
}
.b_container {
  height: 395px;
  margin: 0 auto;
  padding-top: 200px;
  max-width: 942px;
  width: 100%;
  .block {
    background: #fff none repeat scroll 0 0;
    float: left;
    height: 370px;
    margin-bottom: 45px;
    margin-right: 25px;
    position:relative;
    width: 289px;
    .text {
      float: left;
      height:177px;
      padding: 10px 10px 5px;
      margin: 0;
      width: 100%;
      .title {
        float: left;
        font-size: 18px;
        width: 100%;
      }
      .text2 {
        float: left;
        font-size: 16px;
        margin-bottom: 5px;
        width: 100%;
      }
      .link {
        color: @orange;
        float: left;
        font-size: 14px;
        width: 100%;
      }
    }
    .image {
      float: left;
      height:193px;
      overflow: hidden;
      position: relative;
      width: 100%;
      img{
        min-width:100%;
        height: 100%;
      }
    }
    .icon {
      bottom: -20px;
      left: 125px;
      position: absolute;
    }
  }
}
.force_show{
  display: block !important;
}
/*
.item_world {
  float: left;
  height: 168px;
  overflow: hidden;
  position: relative;
  width: 220px;
}
*/
.item{
  overflow: hidden;
  .name{
    .title {
      float: left;
      font-size:14px;
      width: 100%;
      margin-bottom: 5px;
    }
    .description {
      font-size:14px;
      float: left;
      width: 100%;
    }
  }
  &.fb{
    &.fb_1,&.fb_1 a{
      background:@orange;
    }
    &.fb_2,&.fb_2 a{
      background:#FD8543;
    }
    &.fb_3,&.fb_3 a{
      background: #FF9250;
    }
    a{
      height:100% !important;
      .name {
        background:transparent !important;
        color: #fff;
        display:block !important;
        float: left;
        height: 100%;
        padding: 5%;
      }
    }
  }
  &.blog{
    &.blog_1,&.blog_1 a{
      background:#56565A;
    }
    &.blog_2, &.blog_2 a{
      background: #636367;
    }
    &.blog_3, &.blog_3 a{
      background: #707074;
    }
    a{
      height:100% !important;
      .name {
        background:transparent !important;
        color: #fff;
        display:block !important;
        float: left;
        height: 100%;
        padding: 5%;
      }
    }
  }
}
@media (min-width: @screen-lg-min) {
  .list {
    .item {
      width:25% !important;
    }
  }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
  .list {
    .item {
      width:50% !important;
    }
  }
}
@media (min-width: 500px) and (max-width: @screen-sm-min) {
  .list {
    .item {
      width:50% !important;
    }
  }
}
/*Ponemos padding para que no le caiga encima el menu*/
@media (max-width: 734px) {
  .fullscreen{
    margin-top:60px;
  }

  /*Header del About us*/
  .fullscreen-header{
    h1{
      margin-bottom:0px;
    }
  }
}

/*About TEF*/
@media (max-width: 1024px) {
  .our-firm{
    .text,.image{
      margin-bottom: 50px;
      width:100%;
    }
    .address,.map{
      width:100%;
      margin-bottom: 50px;
    }
  }
}
/*Clients*/
@media (max-width: 585px) {
  ul.clients{
    li{
      width:100%;
    }
  }

  .our-firm{
    .address,.map{
      width:100%;
    }
    .address{
      margin-bottom:50px;
    }
  }

  #slides{
    .slides-pagination{
      display:none;
    }
  }

  .project {
    margin-top:58px;
    .project-name {
      span {
        width: 95% !important;
        float: left;
      }
    }
  }
}
.bgprojects,.bgpeople,.bgworld{
  background:#a9a8ab;
}
.bgdetail{
  background: #fff;
}